.card {
    background-color: var(--background-card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: black;


}

.card img {
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 200px;


}