.card {
    background-color: var(--background-card);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(33.33% - 20px);
    height: vh;
    margin: 10px;
    border-radius: 8px;
    box-shadow: black;
    
}
.card img {
    display: flex;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 100%;
    
}
.card h2 {
    max-width: 100%;
    overflow-wrap: break-word;
    }
.card p {
    max-width: 100%;
    overflow-wrap: break-word;
    }


