header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #282c34;
}

.card-container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: 0 10vw 0 10vw;
    flex-wrap: wrap;
    max-width: 100%;
}